body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    color: #323330;
    background: #fafafa;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.2em;
    color: #A9A9A9;
}

.js {
  padding: 4px 8px;
  background: #F0DB4F;
  color: #323330;
}

a,
a:link, 
a:active,
a:visited {
    color: #A9A9A9;
    text-decoration: none;
}

a:hover {
    color: #323330;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

textarea {
    margin: 15px auto;
    padding: 10px;
    width: 100%;
    height: 150px;
    background: #F2F2F6;
    color: #808080;
    border: 1px solid #DDDDDD;
    display: block;

  }

  button {
    position: relative;
    padding: 15px;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    font-weight: bold;
    color: #FAFAFA;
    background: #34568B;
    border-radius: 6px;
  }

  button:hover {
    color: #FAFAFA;
    background: #323330;
  }

  button:focus {
    color: #A9A9A9;
    background: #CCCCCC;
  }

  .done {
    position: absolute;
    left: 0; top: 0; right: 0;
    text-align: center;
    opacity: 0;
    color: #000000;
    transition: all .800s;
    transform: translateY(-1em);
  }
  .copied .done {
    opacity: 1;
    transform: translateY(-3em);
  }
  h1 {
    margin: 1.75em auto 1.25em;
  }

  footer {
    color: #A9A9A9;
    margin: 30px auto;
    font-size: 0.8em;
  }